div.container {
    position: relative;
    max-width: 1000px;
    margin-top: 30px auto;
    margin-bottom: 30px auto;
    text-align: center;
}

section.filters {
    background-color: white;
    font-size: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}